


@media (min-width: 200px) {
    .worker-card{
        width:24em !important;
    }
}
@media (min-width: 768px) {
    .worker-card{
        width:19em!important;
    }
}
@media (min-width: 992px) {
    .worker-card{
        width:23.5em!important;
    }
}

 
ul{
    list-style: none;
}
.nav-link {
    color: rgb(40 138 171 / 55%);
    font-size: 1.3em;
    margin-left: 1em;
}

.bg-light-purple{
    background-color: #f9faf8
}

.border-orange{
    border: 2px solid #ffc107 !important
}

.nav-link:hover {
    color: #ffc107 !important;
}


.border-blue{
    border:2px solid #0dcaf0!important;
}

.drop-shadow-normal{
    filter: drop-shadow(13px 13px rgb(224, 235, 236));
}

.drop-shadow-close{
    filter: drop-shadow(10px 10px rgb(224, 235, 236));
}

.drop-shadow-far{
    filter: drop-shadow(10px 16px rgb(224, 235, 236));
}

.card{
    transform: translateY(0em);
    animation-name: moveDown;
    animation-duration: 1.1s;
    opacity: 1;
 
    
}

@keyframes moveDown{
    from {
        opacity: 0.3;
        transform: translateY(2em);}
    to {
        opacity: 1;
        transform: translateY(0em);}
}