body{
    background-color: #0dcaf0 !important;
}

@media (min-width: 200px) {
    
    .worker-card{
        width:20em !important;
    }
    #myChart{
        width: 100% !important;
        max-width: 300px;
        max-height: 300px;
      }
      
}
@media (min-width: 768px) {
    .worker-card{
        width:23em!important;
    }
    #myChart{
        width: 100% !important;
        max-width: 400px;
        max-height: 430px;
      }
      
}
@media (min-width: 992px) {
    .worker-card{
        width:23.5em!important;
    }

    #myChart{
        width: 100% !important;
        max-width: 450px;
        max-height: 480px;
      }
      
}

 
ul{
    list-style: none;
}
.nav-link {
    color: rgb(40 138 171 / 55%);
    font-size: 1.1em;
    margin-left: 0.4em;
}

.bg-light-purple{
    background-color: #f9faf8
}

.border-orange{
    border: 2px solid #ffc107 !important
}

.nav-link:hover {
    color: #ffc107 !important;
}


.border-blue{
    border:3px solid #0dcaf0!important;
}

.drop-shadow-normal{
    filter: drop-shadow(13px 13px rgb(224, 235, 236));
}

.drop-shadow-close{
    filter: drop-shadow(10px 10px rgb(203, 217, 219)) drop-shadow(-10px -10px rgb(246, 220, 175)) ;
}

.drop-shadow-far{
    filter: drop-shadow(10px 16px rgb(224, 235, 236));
}

.card{
    transform: translateY(0em);
    animation-name: moveDown;
    animation-duration: 1.1s;
    opacity: 1;
 
    
}

@keyframes moveDown{
    from {
        opacity: 0.3;
        transform: translateY(2em);}
    to {
        opacity: 1;
        transform: translateY(0em);}
}

.text-info{
    text-transform: capitalize;
}

.drop-shadow-info{
    filter: drop-shadow(3px 3px rgb(104, 210, 248)) 

}

.text-main-title{
    font-size: 2.7em !important;
    font-weight: 700;
}

.scroll {
    max-height: 200px;
    overflow-y: scroll;
}

.dropdown-toggle{
    margin: 0.5em;
}